/ PRODUCT - START
.col-md-3.col-sm-4.col-xs-6
  %article.product-item
    .row
      .col-sm-3
        .product-overlay
          = link_to '', vendors_food_item_path(food_item), class: "product-permalink"
          = image_tag food_item.photo.url(:square), class: "img-responsive"
      .col-sm-9
        .product-body.text-left
          %h3= food_item.title
/ PRODUCT - END
