/ \==========================
/ PRODUCTS - START
/ \===========================
%section.content.products
  .container
    %h2.hidden Products
    .row
      .col-sm-12
        = link_to "Add a Food Item", new_vendors_food_item_path, class: 'btn btn-primary'
        %br
        #products.row.grid
          - if @food_items.present?
            - @food_items.each do |food_item|
              = render partial: 'food_item', locals: {food_item: food_item}
          - else
            %h1.add-food-item Please add some food items
/ \==========================
/ PRODUCTS - END
/ \===========================
