

<!-- ==========================
      PRODUCTS - START
    =========================== -->
    <section class="content products">
        <div class="container">
          <article class="product-item product-single">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="product-carousel-wrapper">
                            <div id="product-carousel">
                                <div class="item"><img src="assets/images/products/product-1.jpg" class="img-responsive" alt=""></div>
                                <div class="item"><img src="assets/images/products/product-2.jpg" class="img-responsive" alt=""></div>
                                <div class="item"><img src="assets/images/products/product-3.jpg" class="img-responsive" alt=""></div>
                                <div class="item"><img src="assets/images/products/product-4.jpg" class="img-responsive" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                      <div class="product-body">
                            <h3>Fusce Aliquam</h3>

                            <span class="price">
                                <ins><span class="amount">$30.00</span></ins>
                            </span>
                            <ul class="list-unstyled product-info">
                                <li><span>ID</span>U-187423</li>
                                <li><span>Availability</span>In Stock</li>
                                <li><span>Brand</span>Esprit</li>
                                <li><span>Tags</span>Dress, Black, Women</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta. </p>
                        </div>
                    </div>
                </div>
            </article>



        </div>
    </section>
    <!-- ==========================
      PRODUCTS - END
    =========================== -->