/ \==========================
/ PRODUCTS - START
/ \===========================
%section.content.products
  .container
    %article.product-item.product-single
      .row
        .col-xs-4
          .product-carousel-wrapper
            #product-carousel
              .item
                %img.img-responsive{:alt => "", :src => "assets/images/products/product-1.jpg"}/
        .col-xs-8
          .product-body
            %h3= food_item.title
            %span.price
              %ins
                %span.amount= food_item.price
            %ul.list-unstyled.product-info
              %li
                %span> Tags
                Dress, Black, Women
            %p= food_item.description
/
  \==========================
  PRODUCTS - END
  \===========================
