%h1 Listing customers_orders

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_customers_order_path(order)
        %td= link_to 'Destroy', customers_order, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Order', new_customers_order_path
