/
  \==========================
  PRODUCTS - START
  \===========================
%section.content.products
  .container
    %h2.hidden Products
    .row
      .col-sm-12
        #products.row.grid
          - if @vendors.present?
            - @vendors.each do |vendor|
              = render partial: 'vendor', locals: {vendor: vendor}
          - else
            %h1.vendor-title.text-center There are no vendors
/
  \==========================
  PRODUCTS - END
  \===========================
