/
  \==========================
  PRODUCTS - START
  \===========================
%section.content.products
  .container
    %h2.hidden Products
    .row
      .col-sm-12
        #products.row.grid
          = render 'vendor'
          = render 'vendor'
/
  \==========================
  PRODUCTS - END
  \===========================
