/
  \==========================
  PRODUCTS - START
  \===========================
%section.content.products
  .container
    %h2.hidden Products
    .row
      .col-sm-12
        #products.row.grid
          - @vendors.each do |vendor|
            = render partial: 'vendor', locals: {vendor: vendor}
/
  \==========================
  PRODUCTS - END
  \===========================
