/
  \==========================
  ESHOP - START
  \===========================
%section.content.eshop
  .container
    .default-style.about
      %h2 About Us
      .row
        .col-sm-7.col-md-6
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Suspendisse aliquet imperdiet commodo. Aenean vel lacinia elit. Class aptent taciti sociosqu ad litora torquent per.
          %p Sed eget pulvinar quam, vel feugiat enim. Aliquam erat volutpat. Phasellus eu porta ipsum. Suspendisse aliquet imperdiet commodo. Aenean vel lacinia elit. Class aptent taciti sociosqu ad litora torquent per. Vestibulum velmo.
          %ul.list-unstyled
            %li
              %i.fa.fa-check>
              Etiam sed dolor ac diam volutpat
            %li
              %i.fa.fa-check>
              Erat volutpat. Phasellus eu porta ipsum suspendisse aliquet imperdiet
            %li
              %i.fa.fa-check>
              Phasellus eu porta ipsum. Suspendisse aliquet imperdiet commodo
            %li
              %i.fa.fa-check>
              Sed eget pulvinar quam, vel feugiat enim aliquam
        .col-sm-5.col-md-6
          %img.img-responsive{:alt => "", :src => "assets/images/slide-3.jpg"}
        .icon-nav.row
          .col-xs-6.col-sm-3
            %a{:href => "stores.html"}
              %i.fa.fa-map-marker
              Our Stores
            .col-xs-6.col-sm-3
              %a{:href => "privacy-policy.html"}
                %i.fa.fa-lock
                Privacy Policy
            .col-xs-6.col-sm-3
              %a{:href => "terms-conditions.html"}
                %i.fa.fa-book
                Terms  Conditions
            .col-xs-6.col-sm-3
              %a{:href => "faq.html"}
                %i.fa.fa-question-circle
                FAQ
          .services
            %h2.text-center Our Services
            .row.row-no-padding
              / SERVICE - START
              .col-xs-6.col-sm-4
                .service
                  %i.fa.fa-star
                  %h3 FREE SHIPPING ON ALL ORDRES
                  %p Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.
              / SERVICE - END
              / SERVICE - START
              .col-xs-6.col-sm-4
                .service
                  %i.fa.fa-heart
                  %h3 AMAZING CUSTOMER SERVICE
                  %p Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.
              / SERVICE - END
              / SERVICE - START
              .col-xs-6.col-sm-4
                .service
                  %i.fa.fa-rocket
                  %h3 NO CUSTOMS OR DUTY FEES!
                  %p Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.
              / SERVICE - END
              / SERVICE - START
              .col-xs-6.col-sm-4
                .service
                  %i.fa.fa-star
                  %h3 FREE SHIPPING ON ALL ORDRES
                  %p Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.
              / SERVICE - END
              / SERVICE - START
              .col-xs-6.col-sm-4
                .service
                  %i.fa.fa-heart
                  %h3 AMAZING CUSTOMER SERVICE
                  %p Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.
              / SERVICE - END
              / SERVICE - START
              .col-xs-6.col-sm-4
                .service
                  %i.fa.fa-rocket
                  %h3 NO CUSTOMS OR DUTY FEES!
                  %p Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.
              / SERVICE - END
    /
      \==========================
      ESHOP - END
      \===========================
