%section.content
  .container
    %h1.text-center Sell Food With Us
    .row
      .col-md-6
        %p WHY WORK WITH ECATERING?

        Reach more customers through our website and dedicated sales team
        Retain control. You decide what you want to sell, when, and to which postcodes
        Receive large, regular orders with as much lead time as you need
        We deal with invoicing and pay you on the same day each month
        We handle orders, admin and customer service, meaning you can focus on the food!

      .col-md-6
        %p GET STARTED HERE



