/ PRODUCT - START
.col-md-3.col-sm-4.col-xs-6
  %article.product-item
    .row
      .col-sm-3
        .product-overlay
          = link_to '', food_item_path(1), class: "product-permalink"
          = image_tag ("example-1.jpg"), class: "img-responsive"
      .col-sm-9
        .product-body.text-left
          %h3 Taste of Chine Noodle Box
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta.
/ PRODUCT - END
