/
  \==========================
  PRODUCTS - START
  \===========================

  / NEED TO PUT EVERYTHING IN YAML FILE.
%section.content.products
  .container
    %h2.hidden Products
    .row
      .col-md-12
        .products-header
          .row
            .col-sm-12.col-md-4
              %form.form-group
                .form-group
                  %select.form-control
                    %option= t('country')
                    %option Toronto
                    %option Vancouver
                    %option Mississauga
            .col-sm-12.col-md-2
              %form.form-group
                .form-group
                  %select.form-control
                    = options_for_select(1..75)
            .col-sm-12.col-md-2
              %form.form-group
                .form-group
                  %select.form-control
                    %option Event Date
                    %option Average rating
                    %option Price: low to high
                    %option Price: high to low
            .col-sm-12.col-md-2
              %form.form-group
                .form-group
                  %select.form-control
                    %option Event Time
                    %option Average rating
                    %option Price: low to high
                    %option Price: high to low
            .col-sm-12.col-md-2
              = link_to 'Search', food_item_path(1), remote: true, class: 'btn btn-primary btn-search'

        #products.row.grid
          - if @food_items.present?
            - @food_items.each do |food_item|
              = render partial: 'food_item', locals: {food_item: food_item}
          - else
            %h1.food-item-title.text-center There are no food items

/
  \==========================
  PRODUCTS - END
  \===========================
