.nav.navbar-nav.navbar-right {
  display: flex;
  align-items: center;
}

.user-button {
  margin: 0 5px;
}

article.vendor {
  background: transparent;
  box-shadow: none;
}

.btn-search {
  width: 100%;
}

.food-item-title, .vendor-title {
  padding-left: 15px;
}